img {
    height: 200px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
    color: cornflowerblue;
}

div {
    margin-top: 10px;
}

label {
    display: inline-block;
    width: 150px;
}

