h1 {
    color: #3F9FBB;
    text-align: center;
    font-size: 40px;
}

h2 {
    font-size: 19px;
    padding-top: 10px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    }

img {
    padding:1px;
    border:1px solid #FFFFFF;
}    

body {
    color: rgb(158, 158, 175);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #021436;
}

table, th, td {
    border: 1px solid #021436;
    text-align: left;
    padding: 3px;
}

table {
    color: #000000;
    background-color: #C2DDDE;
    width: 100%;
    border-radius: 10px;
}
  
th {
    font-size: 15px;
    height: 30px;
    background-color: #1180A0;
    color: white;
}

td {
    font-size: 15px;
}

p {
    font-size: 14px;
    font-style: italic;
}

nav {
    font-size: 15px;
}

a:link {
    color: #2BE3D3;
}

a:visited {
    color: #CBA7EE;
}