* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 8%;
    margin-right: 8%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}

#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-areas:
    "headline headline picture"
    "quote quote picture"
    "profile profile contact"
    "experience experience experience";
    align-items: center;
}

h1#headline {
    grid-area: headline;
}

#student-picture {
    grid-area: picture;
    text-align: center;
}

#student-quote {
    grid-area: quote;
}

#student-profile {
    grid-area: profile;
}

#student-contact {
    grid-area: contact;
    text-align: center;
}

#experience-grid {
    grid-area: experience;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-areas:
    "first-experience first-experience"
    "second-experience second-experience"
    "third-experience fourth-experience";
}

#experience-code {
    grid-area: first-experience;
}

#experience-database {
    grid-area: second-experience;
}

#experience-web {
    grid-area: third-experience;
}

#experience-design {
    grid-area: fourth-experience;
}