body,
#hero footer,
#featured section,
#featured section article div,
#all-items section,
#all-items section article
{
    display: flex;
}

body,
#all-items section {
    flex-direction: column;
}

body {
    align-items: center;
}

#featured section article div {
    justify-content: center;
}

#all-items section article {
    justify-content: center;
    align-items: center;
}

#hero footer {
    align-items: center;
    justify-content: space-between;
}

#all-items section article div:last-child {
    flex-basis: 80%;
}

#all-items section article:nth-child(even)  {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1024px) {
    
    #featured section {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #featured section article:nth-child(even) {
        border: none;
    }

}